section.services {
  height: 24rem;
  width: 100%;
}

section.services .title {
  color: white;
  margin-bottom: 0.5rem;
}

section.services .pacient {
  display: flex;
  justify-content: flex-end;
  padding: 0.75rem 0;
}

section.services 
.pacient 
.services__list ul {
  padding: 0 0.5rem;

}

section.services .pacient .services__list li {
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-align: start;
  line-height: 16px;
  line-height: 20px;
}

section.services .pacient img {

  border-radius: 15px;
  height: 14rem;
}

@media only screen and (min-width: 900px) {
  section.services {
  }
  section.services .pacient {
    display: block;
  }
}