:root {
  --nyanza: #d8f3dcff;
  --turquoise-green: #b7e4c7ff;
  --turquoise-green-2: #95d5b2ff;
  --ocean-green: #74c69dff;
  --ocean-green-2: #52b788ff;
  --illuminating-emerald: #40916cff;
  --bottle-green: #2d6a4fff;
  --brunswick-green: #1b4332ff;
  --dark-jungle-green: #081c15ff;
}

* {
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

body {
  height: 100%;
  background-color: var(--turquoise-green-2);
  display: flex;
  align-items: center ;
  justify-content: center;
}




main {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 95vh;
  width: 90vw;
  padding: 0.5rem;
  margin: 1rem;
  position: relative;
  border-radius: 25px;
  background-color: var(--ocean-green);
}

section.hero {
  height: 10rem;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
}

section.hero img {
  height: 24rem;
  position: absolute;
  right: -35%;
  top: 1rem;
}

section.hero .title {
  width: 50%;
  margin-bottom: 2rem;
}

section.hero .info {
  text-align: start;
  width: 60%;
  font-weight: bold;
}

section.hero .info__name {
  font-size: 24px;
  display: block;
  margin-bottom: 1rem;
}

section.hero .info__crefito {
}