/* @import "./hero.css";
@import "./services.css";
@import "./card.css"; */

:root {
  --nyanza: #d8f3dcff;
  --turquoise-green: #b7e4c7ff;
  --turquoise-green-2: #95d5b2ff;
  --ocean-green: #74c69dff;
  --ocean-green-2: #52b788ff;
  --illuminating-emerald: #40916cff;
  --bottle-green: #2d6a4fff;
  --brunswick-green: #1b4332ff;
  --dark-jungle-green: #081c15ff;
}

* {
  box-sizing: border-box;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

html, body {
  overflow: hidden;
}

body {
  height: 100%;
  background-color: var(--turquoise-green-2);
  display: flex;
  align-items: center ;
  justify-content: center;
}

main {
  position: relative;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 95vh;
  width: 360px;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 25px;
  background-color: var(--ocean-green);
  overflow-x: hidden;
}
